
body {
    font-family: "Sunflower", sans-serif;
    color: #5C5D6B;
    background-color: rgba(255, 235, 244, 1);
    /* padding-bottom: 5%; */
    font-size: 24px;
    overflow-x: hidden;

}

nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

#logo {
    text-decoration: none;
    color: #795E51;
    font-size: 20px;
    margin-left: 5%;
    line-height: 80px;
}

header {
    height: 80px;
}


nav {
    display: inline-block;
    float: right;
    padding-right: 5%;
}

nav a:hover{
    text-decoration: underline;
    transition: 1s ease;
}

nav a {
    color: #795E51;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin-left: 39px;
    line-height: 80px;
}

footer {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width:100%;
}

footer p {
    margin: 0;
}

.boxstyle{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
}


.containertop {
    display:flex;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    flex-flow:row wrap;
    
}

.containertopmiddle{
    display: flex;
    flex-direction: column;
}

.side-left{
    display:flex;
    width: 33%;
    min-width: 363px;
}

#proja{
    width: 100%;
}

.side-right{
    display:flex;
    width: 33%;
    min-width: 363px;
}

#projb{
    width: 100%;
}

/* .containertopcontent {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
    overflow: hidden;
} */
/* 
@media all and (min-width: 600px) {
    .side{
        flex:1;
    }
}

@media all and (min-width: 800px) {
    .containertopmiddle{
        flex:3;
    }

    .containertopmiddle{
        order:3;
    }

    .side-left{
        flex:1;
    }

    .side-right{
        flex:1;
    }
} */

.containerbottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 430px;
    gap: 38px 25px;
    /* max-width: 1200px; */
    margin: 20px;
}

.containerbottom > div {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: flex;
    /* flex-direction: row; */
    overflow:hidden;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
}


.project-title {
    font-size: 24px;
    color: #5C5D6B;
    /* margin-top: 20px; */
}
/* 
.proja{
    flex-direction: column;
}

proja img{
    width: 50%;
}

.project-title{
    font-size: 50px;
    color: #5C5D6B;
}

.intro img{
    width: 67%;
    align-self: flex-end;
}

.story{
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    color: #5C5D6B;
}

.story img{
    width:10%;
    height: fit-content;
    align-self: center;    
} */
